# Dot Folders
.venv
.git
.github
.pytest_cache
.vscode

# Dot Files
.pre-commit-config.yaml
.env
.isort.cfg
.flake8

# Files
LICENSE
README.md
docker-compose.*.yaml

# Folders
test-containers
tests
mlflowstack
