# Dot Folders
.venv
.git
.github
.pytest_cache
.vscode

# Dot Files
.pre-commit-config.yaml
.env
.isort.cfg
.flake8
.editorconfig
.gitattributes
.gitignore
.dive-ci

# Files
artifacthub-repo.yml
docker-compose.*.yaml

# Folders
test-containers
tests
docs
**/__pycache__

*.db
*.key
*.crt
