name: Update Docker Hub Description

on:
  push:
    branches:
      - main
    paths:
      - 'docs/hub/README.md'
      - .github/workflows/dockerhub-description.yml

jobs:
  dockerHubDescription:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
          repository: ${{ github.repository }}
          readme-filepath: './docs/hub/README.md'
